//general
@use './partials/resets';
@use './partials/typography' as *;
@use './partials/colors' as *;
//page-sections
@use './partials/nav';
@use './partials/footer';

body {
    background-color: $BandSite-Black;
}
.hero-section {
    background-image:linear-gradient(to right, rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    display: flex;
    align-items: center;
    &__header{
        @include page-header-mobile;
        color: $white;
        margin: 1rem;
    }
}
@media (min-width: 48rem) { 
    .hero-section {
        min-height: 80vh;
        &__header {
            margin: 2rem;
            @include page-header;
            font-weight: 600;
        } 
    } 
}
@media (min-width: 80rem) {
    .hero-section {
        max-width: 1440px;
        margin: auto;
        &__header {
            margin: 6rem;
        }
    }
}
.about {
    padding: 1rem;
    color: $BandSite-Black;
    background-color: $white;
    &__header {
        @include section-header-mobile;
        margin: 1rem 0;
    }
    &__quotation {
        @include subheader-mobile;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__quote, &__person  {
        margin-bottom: 0.5rem;
    }
    &__text-header {
        @include subheader-mobile;
        margin: 1rem 0;
    }
    &__paragraph {
        @include body-copy-mobile;
        margin-bottom: 0.5rem;
    }
}
@media (min-width: 48rem) { 
    .about {
        padding: 2rem;
        &__header {
            @include section-header;
            margin: 2rem 0;
        }
        &__quotation {
            @include subheader;
            padding: 1rem 3rem;
        }
        &__quote { 
            margin: 1.5rem 0 1rem;
        }
        &__person {
            @include body-copy;
            font-weight: 600;
        }
        &__main {
            padding: 0 3rem;
        }
        &__text-header {
            @include subheader;
            margin: 1rem 0 2rem;
        }
        &__paragraph {
            @include body-copy;
            margin: 0 1rem 1rem 0;
        }
        &__text {
            display: flex;
        }
    }
}
@media (min-width: 80rem) {
    .about {
        max-width: 90rem;
        margin: auto;
        padding: 2rem 6rem;
        &__header {
            font-weight: 600;
        }
        &__quotation {
            padding: 1rem 5rem;
        }
        &__main {
            padding: 0 5rem; 
        }
    }
}
.gallery {
    padding: 1rem;
    background-color: $alabaster;
    color: $BandSite-Black;
    &__header {
        @include section-header-mobile;
        margin: 1rem 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
        width: 100%;
        height: auto;
        filter: grayscale(80%);
    }
    &__item:hover {
        filter: none;
        transition: 1s;
    }
}
@media (min-width: 48rem) { 
    .gallery {
        padding: 2rem;
        &__header {
            @include section-header;
            margin: 1rem 0 2rem;
        }
        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            max-width: 30%;
            height: auto;
        }
    }
}
@media (min-width: 80rem) {
    .gallery {
        max-width: 90rem;
        margin: auto;
        padding: 2rem 6rem;
    }
}
.comments {
    padding: 1rem;
    color: $BandSite-Black;
    background-color: $white;
    &__header {
        margin: 1rem 0;
        @include section-header-mobile;
    }
}
@media (min-width:48rem) {
    .comments {
        padding: 2rem;
        &__header {
            @include section-header;
        }
    }
}
@media (min-width: 80rem) {
    .comments {
        max-width: 90rem;
        margin: auto;
        padding: 2rem 6rem;
    }
}