//general
@use './partials/resets' as *;
@use './partials/typography' as *;
@use './partials/colors' as *;
//page-sections
@use './partials/nav';
@use './partials/footer';

body {
    background-color: $BandSite-Black;
}
.hero-section {
    background-image:linear-gradient(to right, rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url(../assets/images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    min-height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__header{
        @include section-header-mobile;
        color: $white;
        margin: 3rem 1rem 1rem;
        font-weight: 400;
    }
    &__subheader {
        font-size: 2.25rem;
        color: $white;
        margin: 1rem;
        display: inline-block;
    }
    &__player {
        margin: 1rem 1rem 3rem;
        display: inline-block;
        width: 90%;
    }
}
@media (min-width: 48rem) {
    .hero-section {
        min-height: 65vh;
        &__header {
            margin: 2rem 2rem 0;
            @include subheader;
        } 
        &__subheader {
            @include page-header;
            margin: 1rem 2rem 2rem;
            display: inline-block;
        }
        &__player {
            margin: 2rem;
            display: inline-block;
            width: 60%;
        }
    }
}
@media (min-width: 80rem) {
    .hero-section {
        max-width: 1440px;
        margin: auto;
        &__header {
            margin: 2rem 6rem 0;
        }
        &__album {
            margin: 0 4rem;
            display: flex;
            align-items: center;
        }
        &__subheader {
            width: 45%;
        }
        &__player {
            width: 45%;
        }
    }
}
.shows {
    background: $white;
    padding: 1rem 0;
    color: $BandSite-Black;
    &__header{
        margin: 1rem 0 1rem 1rem;
        @include section-header-mobile;
    }
    &__show {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-bottom: 1px solid $mecrury;
    }
    &__label {
        margin-bottom: 0.5rem;
    }
    &__date {
        font-weight: 600;
    }
    &__labels-div {
        display: none;
    }
}
@media (min-width: 48rem) {
    .shows {
        &__header {
            margin: 1rem 2rem 2rem;
            @include section-header;
        }
        &__container {
            margin: 0 2rem;
        }
        &__show {
            display: flex;
            flex-direction: row;
            padding: 1rem 0;
            gap: 0;
            width: 100%;
        }
        &__labels-div {
            display: flex;
            flex-direction: row;
        }
        .button-link {
            padding: 1rem;
            font-weight: 600;
        }
        &__show-div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 25%;
        }
        &__label {
            display: none;
        }
        .label {
            min-width: 25%;
        }
    }
}
@media (min-width: 80rem)  {
    .shows {
        max-width: 1440px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        &__header {
            margin: 1rem 6rem;
            width: 10%
        }
        &__container {
            width: 90%;
            margin: 1rem 2rem;
        }
    }
}
